body {
   display: flex;
   align-items: center;
   flex-direction: column;
}

#container {
    display: flex;
    width: 720px;
    height: 720px;
    border: 1px solid black;
}

.row, .content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.color {
    background-color: black;
}